<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h4>메일 전송</h4>
      <div class="input-field">
        <label for="mailRecipient">메일 받는 사람:</label>
        <input type="email" id="mailRecipient" name="mailRecipient" required>
      </div>
      <div class="input-field">
        <label for="mailSender">메일 보낸 사람 이름:</label>
        <input type="text" id="mailSender" name="mailSender" required>
      </div>
      <div class="input-field">
        <label for="subject">메일의 제목:</label>
        <input type="text" id="subject" name="subject" required>
      </div>
      <div class="input-field">
        <label for="templateId">Thymeleaf 템플릿 아이디:</label>
        <input type="text" id="templateId" name="templateId" required>
      </div>
      <div class="input-field" id="inputFields">
        <label>Thymeleaf에서 사용할 값:</label>
      </div>
      <button class="waves-effect waves-light btn" onclick="addInputFields()">입력 상자 추가</button>
      <button class="waves-effect waves-light btn" id="mailSendButton">메일 전송</button>
    </div>
  </div>
</div>
<script>
	const createInputFields = () => {
		let inputCount = 0;

		const addInputFields = () => {
			const inputContainer = document.getElementById("inputFields");
			const div = document.createElement("div");
			div.classList.add("input-field");

			const keyLabel = document.createElement("label");
			keyLabel.textContent = `Key ${inputCount + 1}`;
			keyLabel.setAttribute("for", `key_${inputCount}`);
			div.appendChild(keyLabel);

			const keyInput = document.createElement("input");
			keyInput.type = "text";
			keyInput.placeholder = "Key";
			keyInput.id = `key_${inputCount}`;
			keyInput.name = `key_${inputCount}`;
			keyInput.classList.add("validate");
			div.appendChild(keyInput);

			const valueLabel = document.createElement("label");
			valueLabel.textContent = `Value ${inputCount + 1}`;
			valueLabel.setAttribute("for", `value_${inputCount}`);
			div.appendChild(valueLabel);

			const valueInput = document.createElement("input");
			valueInput.type = "text";
			valueInput.placeholder = "Value";
			valueInput.id = `value_${inputCount}`;
			valueInput.name = `value_${inputCount}`;
			valueInput.classList.add("validate");
			div.appendChild(valueInput);

			const removeButton = document.createElement("button");
			removeButton.textContent = "Remove";
			removeButton.classList.add("waves-effect", "waves-light", "btn-small");
			removeButton.addEventListener("click", () => {
				div.remove();
			});
			div.appendChild(removeButton);

			inputContainer.appendChild(div);

			inputCount++;
		};

		return addInputFields;
	};

	const addInputFields = createInputFields();

	const generateJSON = () => {
		const jsonOutput = {};

		const inputs = document.querySelectorAll("[name^='key_']");
		inputs.forEach((input) => {
			const key = input.value;
			const index = input.name.split("_")[1];
			const value = document.querySelector(`[name="value_${index}"]`).value;

			if (key && value) {
				jsonOutput[key] = value;
			}
		});

		return jsonOutput;
	};

	const makeMailSendFormData = () => {
		return {
			mailRecipient: document.getElementById("mailRecipient").value,
			mailSender: document.getElementById("mailSender").value,
			subject: document.getElementById("subject").value,
			templateId: document.getElementById("templateId").value,
			parameters: generateJSON(),
		};
	};

	const sendMail = () => {
		const xhr = new XMLHttpRequest();
		xhr.open("POST", "/send", true);
		xhr.setRequestHeader("Content-Type", "application/json");
		xhr.onreadystatechange = () => {
			if (xhr.readyState === 4 && xhr.status === 200) {
				console.log("메일이 성공적으로 전송되었습니다.");
			}
		};
		xhr.send(JSON.stringify(makeMailSendFormData()));
	};

	const mailSendButton = document.getElementById("mailSendButton");
	mailSendButton.addEventListener("click", sendMail);
</script>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>